

.container{
   font-size: 1.5rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    
    flex: 1;
    margin:3rem;
    
}

.heading_1 {

    font-size: 18px;  
    align-items: space-between;
    
}
.heading_2{
    align-items: space-between;
    font-size: 18px;
}
.isScotland{
    align-items: space-between;
    
}

.para{
    align-items: space-between;
    
    &__info{

    }
}




.line{

    border: 1px solid black;

}


.contact-form {
    min-width: 50rem;
    max-width: 50rem;
  
  }
  
  .contact-form-full-width {
    width: 30rem;
  }

.button_class{
    
    max-width: 20rem;
    display : flex;
    justify-content: space-evenly;

    &-no{
        background-color: red;
    }
}

.navigation{
    padding:2rem 2rem;
    &_button{
    display: flex;
    justify-content:space-between;
    padding:1.2rem;
        .save_comeback,
        .save_continue{
            background-color: red;
            border-radius:15rem;
        }

    }
    
    &_link{
     display: flex;
    justify-content:space-between;
    padding:1.2rem;
    }

    a{
        color: grey;
    }

}

  .valuation-form{
    
    
}

.your-purchase{
   

}