.header{
    display: flex;
    justify-content: space-around;
    flex:1;
    align-items: center;
    background-color: #FE0002;

    &__name{

        width:5 rem;
        overflow: hidden;
    }
}

//////responsive image ////////@extend

img{

}

