<div class="container">
    <div class="navigation">
        <nav class="user-nav">
            <mat-nav-list class="arrow">
                <a mat-list-item href="#" routerLink="/how-to-apply" routerLinkActive="active">How to apply</a>
                <a mat-list-item href="#" routerLink="/mortgage-options">Mortgage options</a>
                <a mat-list-item href="#"routerLink="/">Confirm mortgage</a>
                <a mat-list-item href="#">Property details</a>
                <a mat-list-item href="#" routerLink="/valuation">Valuation</a>
                <a mat-list-item href="#" routerLink="/">Other occupants</a>
                <a mat-list-item href="#" routerLink="/">Solicitor/Payment details</a>
                <a mat-list-item href="#" routerLink="/">Review and submit</a>
              </mat-nav-list>
        </nav>
        <main class="user-form">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>
