.container{
    
    display: flex;
    flex-direction: column;
    flex: 1;
    
  }
  .header{
    flex: 0 0;
  }
  .content{
        flex: 1 1 30rem;
    padding: 3px 5px;
    position: relative;
    

  }
  
  .footer{
    
    background-color: rebeccapurple;
    
    
  }